/*--------------------------------------------------------------
# Filter Panel
--------------------------------------------------------------*/

.filter-panel-overlay {
    overflow: hidden;

    &.service::after {
        top: 0 !important;
    }
}

.filter-panel-overlay:after {
    content: "";
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 28, 28, 0.8);
    backdrop-filter: blur(20px);
    z-index: 2;
}



/*--------------------------------------------------------------
# Side Panel @media
--------------------------------------------------------------*/
@media screen and (max-width:1640px) {
    .side-panel {
        top: 0;
    }

    .filter-panel-overlay:after {
        top: 0;
    }
}

@media screen and (max-width:1500px) {}

@media screen and (max-width:1368px) {}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:586px) {}